PORT=3021
MONGO_INITDB_ROOT_USERNAME=mongo-user
MONGO_INITDB_ROOT_PASSWORD=123456
URL=mongodb://mongo-user:123456@localhost:27017/
DBNAME=authentication
JWT_SEED=5046002fe050c48dece5b723e6a3ecb4b695e67479966cc514860cbb437cc585
MAILER_SERVICE=
MAILER_EMAIL=
MAILER_SECRET_KEY=